<!-- Div tag separates groups of related menu items with a divider -->
<div class="container-fluid col-10"><!-- Here we are using 10 of 12 columns and centralizing the component -->
      <h3>Suppliers List</h3>
      <table class="table"> <!-- Tag for table creation -->
        <thead>
          <tr><!-- Each table row is defined with the <tr> tag -->
            <th scope="col">#</th> <!-- A table header is defined with the <th> tag -->
            <th scope="col">Name</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Address</th>
            <th scope="col">Tel</th>
          </tr>
        </thead>
        <tbody> <!-- Table body-->
          <tr>
            <th scope="row">1</th>
            <td>Mark</td> <!-- A table data/cell is defined with the <td> tag -->
            <td>Otto</td>
            <td>@mdo</td>
            <td>9999</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>8888</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>7777</td>
          </tr>
        </tbody>
      </table>
</div>